.loginRegister {
    text-align: center;
    padding-top: 50px;
}

.loginRegisterForm {
    width: 700px;
    margin: 0 auto;
}

p.loginError {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    font-size: 24px;
    background-color: rgba(255,0,0,0.4);
    border: 2px solid red;
}