.mainNav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    border-bottom: 1px solid black;
}

.mainNav a,
.mainNav .recipeBtn {
    text-decoration: none;
    font-size: 25px;
    line-height: 65px;
    display: block;
    cursor: pointer;
}

.mainNav>div {
    flex-basis: 50%;
    display: flex;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.recipeBtn,
.signIn,
.signUp,
.logo {
    padding: 0 40px;
    font-weight: 700;
    transition: .2s;
}

.left .logo {
    margin: 0 90px 0 10px;
    color: #ff3800;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 2px;
    overflow-x: hidden;
    padding: 0 30px;
}

.left .logo:hover {
    font-size: 50px;
    letter-spacing: 3px;
}

.left .recipeBtn,
.dropdownContent {
    background-color: #00a9fc;
    color: #fff;
    transition: .3s;
}

.left .recipeBtn.violet,
.dropdownContent.violet {
    background-color: #6c6ca7;
}

.left .recipeBtn.blue:hover,
.dropdownContent:hover+.recipeBtn.blue {
    background-color: #fff;
    color: #00a9fc;
}

.left .recipeBtn.violet:hover,
.dropdownContent:hover+.recipeBtn.violet {
    background-color: #fff;
    color: #6c6ca7;
}

.right .signUp {
    margin-right: 50px;
    background-color: #10ae4e;
    color: #fff;
}

.right .signUp:hover {
    color: #10ae4e;
    background-color: #fff;
}

.right .signIn {
    margin-right: 40px;
    background-color: #ff3800;
    color: #fff;
}

.right .signIn:hover {
    color: #ff3800;
    background-color: #fff;
}

.right .dropdown {
    margin-right: 40px;
}

.right .recipeBtn.logOut {
    position: relative;
    height: 100%;
    padding: 0 50px;
}

.right .recipeBtn.logOut i {
    color: #ff3800;
    font-size: 40px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // transition: .2s;
}

.dropdownContent.logOut,
.dropdownContent.burgerMenu {
    background-color: #ff3800;
    left: -150px;
    top: 100%;
    width: 250px;
}

.dropdownContent.burgerMenu {
    left: -180px;
}

.right .recipeBtn:hover,
.dropdownContent:hover+.recipeBtn.logOut {
    background-color: #ff3800;
}

.right .recipeBtn:hover i,
.dropdownContent:hover+.recipeBtn.logOut i {
    color: white;
}

.dropdown {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 40px;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    top: 100%;
    left: 0;
    transform: scale(0);
    transform-origin: 0 0;
    // transition: .3s;
}

.dropdownContent.logOut,
.dropdownContent.burgerMenu {
    transform-origin: 100% 0;
    ;
}

.dropdownContent a,
.dropdownContent .burgerDiv {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    padding-left: 20px;
    transition: .3s;
}

.dropdown:hover .dropdownContent {
    transform: scale(1);
}

.dropdownContent a:hover {
    padding-left: 45px;
    font-size: 22px;
}



.mainNav form {
    margin-right: 25px;
    display: flex;
}

#form1 {
    width: 250px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-width: 2px;
    // display: none;
}

#buttonSubmit {
    border: none;
    background-color: #fff;
    margin-right: 90px;
    font-size: 25px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.right .recipeBtn.burger {
    position: relative;
    display: none;
    height: 100%;
    padding: 0 35px;
    color: #000;
    background-color: #fff;
}

.right .recipeBtn.burger.active {
    background-color: #ff3800;
}

.right .recipeBtn.burger.active i {
    color: #fff;
}

.right .dropdownContent.burgerMenu {
    display: none;
}

.right .recipeBtn.burger i {
    font-size: 32px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.burgerMenu .burgerDiv:last-of-type {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px dashed #fff;
}
