.mainNav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    border-bottom: 1px solid black;
}

.mainNav a,
.mainNav .recipeBtn {
    text-decoration: none;
    font-size: 25px;
    line-height: 65px;
    display: block;
    cursor: pointer;
}

.mainNav>div {
    flex-basis: 50%;
    display: flex;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.recipeBtn,
.signIn,
.signUp,
.logo {
    padding: 0 40px;
    font-weight: 700;
    transition: .2s;
}

.left .logo {
    margin: 0 90px 0 10px;
    color: #ff3800;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 2px;
}

.left .logo:hover {
    font-size: 50px;
    letter-spacing: 3px;
}

.left .recipeBtn,
.dropdownContent {
    background-color: #00a9fc;
    color: #fff;
    transition: .3s;
}

.left .recipeBtn.violet,
.dropdownContent.violet {
    background-color: #6c6ca7;
}

.left .recipeBtn.blue:hover,
.dropdownContent:hover+.recipeBtn.blue {
    background-color: #fff;
    color: #00a9fc;
}

.left .recipeBtn.violet:hover,
.dropdownContent:hover+.recipeBtn.violet {
    background-color: #fff;
    color: #6c6ca7;
}

.right .signUp {
    margin-right: 50px;
    background-color: #10ae4e;
    color: #fff;
}

.right .signUp:hover {
    color: #10ae4e;
    background-color: #fff;
}

.right .signIn {
    margin-right: 40px;
    background-color: #ff3800;
    color: #fff;
}

.right .signIn:hover {
    color: #ff3800;
    background-color: #fff;
}

.right .dropdown {
    margin-right: 40px;
}

.right .recipeBtn.logOut {
    position: relative;
    height: 100%;
    padding: 0 50px;
}

.right .recipeBtn.logOut i {
    color: #ff3800;
    font-size: 40px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // transition: .2s;
}

.dropdownContent.logOut, .dropdownContent.burgerMenu {
    background-color: #ff3800;
    left: -150px;
    top: 100%;
    width: 250px;
}

.dropdownContent.burgerMenu {
    left: -180px;
}

.right .recipeBtn:hover,
.dropdownContent:hover+.recipeBtn.logOut,
.dropdownContent:hover+.recipeBtn.burger {
    background-color: #ff3800;
}

.right .recipeBtn:hover i,
.dropdownContent:hover+.recipeBtn.logOut i,
.dropdownContent:hover+.recipeBtn.burger i {
    color: white;
} 

.dropdown {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 40px;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    top: 100%;
    left: 0;
    transform: scale(0);
    transform-origin: 0 0;
    // transition: .3s;
}

.dropdownContent.logOut, .dropdownContent.burgerMenu {
    transform-origin: 100% 0;
    ;
}

.dropdownContent a {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    padding-left: 20px;
    transition: .3s;
}

.dropdown:hover .dropdownContent {
    transform: scale(1);
}

.dropdownContent a:hover {
    padding-left: 45px;
    font-size: 22px;
}



.mainNav form {
    margin-right: 25px;
    display: flex;
}

#form1 {
    width: 250px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-width: 2px;
    // display: none;
}

#buttonSubmit {
    border: none;
    background-color: #fff;
    margin-right: 90px;
    font-size: 25px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.right .recipeBtn.burger {
    position: relative;
    display: none;
    height: 100%;
    padding: 0 35px;

}

.right .dropdownContent.burgerMenu {
    display: none;
}

.right .recipeBtn.burger i {
    font-size: 32px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


#burgerDiv.active {
    background-color: #000;
    color: #fff;
}


// RWD START


@media(max-width: 1680px) {
    .left .logo {
        margin: 0 40px 0 10px;
    }

    .right .dropdown {
        margin-right: 15px;
    }

    .right .signUp {
        margin-right: 15px;
    }

    .right .signIn {
        margin-right: 10px;
    }

    #form1 {
        margin-right: 10px;
        width: 200px;
    }

    #buttonSubmit {
        margin-right: 10px;
    }
}

@media(max-width: 1430px) {

    .mainNav a,
    .mainNav .recipeBtn {
        font-size: 20px;
        line-height: 65px;
    }

    .recipeBtn,
    .signIn,
    .signUp,
    .logo {
        padding: 0 20px;
    }

    .left .logo {
        margin: 0 30px 0 10px;
        font-size: 40px;
    }

    .left .logo:hover {
        font-size: 45px;
    }

    .dropdownContent a {
        line-height: 55px;
    }

}

@media(max-width: 1100px) {

    .mainNav .left .dropdown,
    .mainNav .right span.logOut,
    .mainNav .right .signUp,
    .mainNav .right .signIn,
    .right .dropdownContent
     {
        display: none;
    }

    .left .logo {
        font-size: 45px;
    }

    .left .logo:hover {
        font-size: 50px;
    }

    #form1 {
        width: 250px;
    }

    .right .recipeBtn.burger {
        display: block;
    } 

    .right .dropdownContent.burgerMenu {
        display: flex;
    }
}

@media(max-width: 750px) {
    .left .logo {
        font-size: 35px;
    }

    .left .logo:hover {
        font-size: 40px;
    }

    .mainNav form {
        margin: 0;
    }

    #form1 {
        width: 200px;
    }

    .dropdown {
        margin-right: 20px;
    }
}

@media(max-width: 565px) {
    .left .logo {
        margin: 0 10px 0 20px;
        padding: 0 10px 0 0;
    }

    .left .logo:hover {
        font-size: 30px;
        letter-spacing: 2px;
    }

    // .mainNav form {
    //     margin-right: 35px;
    // }

    #form1 {
        width: 76px;
    }

    #buttonSubmit {
        font-size: 21px;
        margin: 0;
    }

    .right .dropdown {
        margin: 0 35px 0 15px;
    }
}

@media(max-width: 400px) {
    .left .logo {
        font-size: 30px;
        margin: 0 5px 0 5px;
    }

    .mainNav form {
        margin-right: 0;
    }

    .right .dropdown {
        margin: 0;
    }
}