@media(max-width: 1720px) {
    //mainNav.scss
    .left .logo {
        margin: 0 30px 0 10px;
    }

    .right .dropdown {
        margin-right: 15px;
    }

    .right .signUp {
        margin-right: 15px;
    }

    .right .signIn {
        margin-right: 10px;
    }

    #form1 {
        margin-right: 10px;
        width: 200px;
    }

    #buttonSubmit {
        margin-right: 10px;
    }

    //recipes.scss
    .recipesList div {
        height: 230px;
        margin-bottom: 100px;
    }

    .recipesList p {
        font-size: 22px;
    }

    //recipe.scss

    div.recipeIcons span {
        left: 42%;
    }
}

@media(max-width: 1430px) {
    //mainNav.scss
    .mainNav a,
    .mainNav .recipeBtn,
    .dropdownContent .burgerDiv {
        font-size: 20px;
        line-height: 65px;
    }

    .recipeBtn,
    .signIn,
    .signUp,
    .logo {
        padding: 0 20px;
    }

    .left .logo {
        margin: 0 30px 0 10px;
        font-size: 40px;
    }

    .left .logo:hover {
        font-size: 45px;
    }

    .left .dropdown:first-of-type {
        margin-right: 20px;
    }

    .left .dropdown:last-of-type {
        margin-right: 0;
    }

    .dropdownContent a,
    .dropdownContent .burgerDiv {
        line-height: 55px;
    }

    //recipes.scss
    .recipesList div {
        height: 200px;
        margin-bottom: 90px;
    }

    .recipesList p {
        font-size: 22px;
    }

    //recipe.scss

    div.recipeIcons {
        padding-left: 20px;
    }

    div.recipeIcons span {
        left: 45%;
    }
}

@media(max-width: 1350px) {
    //recipe.scss

    div.recipeIcons {
        padding-left: 15px;
    }

    div.recipeIcons p {
        font-size: 23px;
    }

    div.recipeIcons p i {
        font-size: 46px;
    }

    div.recipeSteps {
        padding-left: 40px;
    }
}

@media(max-width: 1120px) {
    //mainNav.scss
    .mainNav .left .dropdown,
    .mainNav .right span.logOut,
    .mainNav .right .signUp,
    .mainNav .right .signIn,
    .right .dropdownContent {
        display: none;
    }

    .left .logo {
        font-size: 45px;
    }

    .left .logo:hover {
        font-size: 50px;
    }

    #form1 {
        width: 250px;
    }

    .right .recipeBtn.burger {
        display: block;
    }

    .right .dropdownContent.burgerMenu {
        display: flex;
    }

    //homepage.scss
    
    div.recipes div.recipe {
        flex-basis: 32%;
    }

    div.recipe p, .recipesList p {
        font-size: 23px;
    }

    //recipes.scss
    .recipesList div {
        height: 170px;
    }

    .recipesList p {
        font-size: 20px;
    }

    //recipe.scss

    h1.recipeTitle {
        padding-top: 35px;
        font-size: 47px;
        letter-spacing: 1px;
    }


    div.wholeRecipe h2 {
        text-align: center;
        font-size: 34px;
        border-bottom-width: 4px;
    }

    div.wholeRecipe p {
        font-size: 20px;
    }

    div.recipeIcons {
        margin-top: 30px;
    }

    div.recipeIcons p {
        font-size: 19px;
        position: relative;
    }

    div.recipeIcons p i {
        font-size: 38px;
    }
}

@media(max-width: 1000px) {
    
    //footer.scss
    
    .mainFooter h2 {
        font-size: 1.5rem;
    }

    .mainFooter .contact p {
        padding-top: 10px;
    }

    .mainFooter section div {
        font-size: 16px;
    }

    .mainFooter .links a:hover {
        font-size: 20px;
    }
    
}

@media(max-width: 900px) {
    //recipes.scss
    .recipesList div {
        height: 130px;
    }

    .recipesList p {
        font-size: 17px;
    }

    //recipe.scss

    div.ImageAndIngredients {
        flex-basis: 100%;
    }    

    div.recipeImg {
        flex-basis: 90%;
        margin: 0 auto;
    }

    div.recipeIcons {
        flex-basis: 90%;
        padding: 0;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    div.recipeIcons p {
        flex-basis: 100px;
    }

    div.recipeIcons button {
        margin-bottom: 0;
    }

    div.recipeIngredients {
        flex-basis: 90%;
        margin: 0 auto;
        margin-bottom: 70px;
        min-height: 200px;
    }

    div.recipeSteps {
        flex-basis: 90%;
        padding-left: 0;
        margin: 0 auto 100px;
    }

    // //login.scss

    .loginRegisterForm {
        width: 85%;
        margin: 0 auto;
    }
}

@media(max-width: 750px) {
    //mainNav.scss
    .left .logo {
        font-size: 35px;
    }

    .left .logo:hover {
        font-size: 40px;
    }

    .mainNav form {
        margin-right: 12px;
    }

    #form1 {
        width: 200px;
    }

    .dropdown {
        margin-right: 20px;
    }

    // homepage.scss
    header.mainHeader h1 {
        font-size: 45px;
    }

    header.mainHeader a {
        font-size: 30px;
    }

    header.mainHeader a:hover {
        font-size: 35px;
    }

    section.threeRecipes~.threeRecipes {
        margin-top: 30px;
    }

    main h1 {
        font-size: 45px;
    }

    div.recipes div.recipe {
        flex-basis: 70%;
        margin-bottom: 70px;
    }

    //recipes.scss

    .recipesList div {
        flex-basis: 32%;
    }

    // //login.scss

    // .loginRegisterForm {
    //     width: 420px;
    // }


}

@media(max-width: 565px) {
    //mainNav.scss
    .left .logo {
        margin: 0 10px 0 20px;
        padding: 0 10px 0 0;
    }

    .left .logo:hover {
        font-size: 30px;
        letter-spacing: 2px;
    }

    #form1 {
        width: 76px;
    }

    #buttonSubmit {
        font-size: 21px;
        margin: 0;
    }

    .right .dropdown {
        margin: 0 35px 0 15px;
    }

    //recipes.scss

    header.recipesPage {
        height: 30vh;
    }

    .recipesHeader {
        font-size: 45px;
    }    

    .recipesList div {
        flex-basis: 47%;
        margin-bottom: 75px;
    }

    .recipesList p {
        font-size: 15px;
    }

    .recipesList .empty {
        font-size: 25px;
        text-align: center;
    }

    //recipe.scss

    div.recipeButtons {
        margin: 0 auto;
    }

    //new_recipe.scss

    .loginRegister.newRecipeHeader {
        font-size: 35px;
    }
}

@media(max-width: 500px) {

    //homepage.scss

    section.threeRecipes~.threeRecipes {
        margin-top: 20px;
    }

    h1.recipeTitle {
        font-size: 35px;
    }

    div.wholeRecipe {
        margin-top: 30px
    }

    //footer.scss

    .mainFooter h2 {
        font-size: 1.3rem;
    }

    .mainFooter i {
        margin-right: 8px;
    }

    .mainFooter section div.contact {
        font-size: 14px;
        flex-basis: 95%;
    }
}

@media(max-width: 400px) {
    //mainNav.scss

    .left .logo {
        font-size: 30px;
        margin: 0 5px 0 5px;
    }

    .mainNav form {
        margin-right: 12px;
    }

    .right .dropdown {
        margin: 0;
    }

    //homepage.scss
    main h1 {
        font-size: 35px;
    }

    section.threeRecipes~.threeRecipes {
        margin-top: 10px;
    }

    section.threeRecipes:last-of-type {
        margin-bottom: 70px;
    }

    div.recipe p, .recipesList p {
        font-size: 18px;
    }

    div.recipes div.recipe {
        margin-bottom: 60px;
        height: 165px;
    }

    //recipes.scss

    .recipesList div {
        height: 105px;
        margin-bottom: 50px;
        
    }

    .recipesList p {
        font-size: 13px;
        line-height: 15px;
    }

    //recipe.scss

    h1.recipeTitle {
        font-size: 32px;
    }

    div.recipeImg {
        height: 300px;
    }

    div.recipeIcons p {
        font-size: 16px;
        flex-basis: 33%;
    }

    div.recipeIcons p i {
        font-size: 32px;
    }

    div.recipeIcons span {
        left: 40%;
    }

    div.wholeRecipe h2 {
        font-size: 28px;
    }

    div.wholeRecipe p {
        font-size: 17px;
    }

    //login.scss

    h1.loginRegister {
        font-size: 35px;
    }

    //new_recipe.scss

    .loginRegister.newRecipeHeader {
        font-size: 30px;
    }

    //footer.scss

    .mainFooter {
        height: 270px;
    }

    .mainFooter i {
        margin-right: 4px;
    }

    .mainFooter section {
        flex-wrap: wrap;
    }

    .mainFooter section div.links {
        flex-basis: 95%;
    }
}

// FOR DEVICES WITH TOUCH SCREEN
@media(hover: none) and (pointer: coarse) {
    //mainNav.scss
    .dropdownContent a:hover {
        padding-left: 20px;
        font-size: 20px;
    }

    .left .logo:hover {
        font-size: 45px;
        letter-spacing: 2px;
    }

    .right .recipeBtn:hover,
    .dropdownContent:hover+.recipeBtn.logOut {
        background-color: #fff;
    }

    .right .recipeBtn:hover i,
    .dropdownContent:hover+.recipeBtn.logOut i {
        color: #000;
    }

    //homepage.scss

    header.mainHeader a:hover {
        background-color: rgba(0, 0, 0, 0);
        font-size: 40px;
    }

    //recipes.scss

    div.recipe:hover, .recipesList>div:hover {
        transform: scale(1);
    }
    
    div.recipe:hover .darkHover,
    .recipesList div:hover .darkHover {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    //footer.scss
    .mainFooter .links a:hover {
        font-size: 18px;
        border-bottom: 1px solid white;
    
    }
}

@media(max-width: 1000px) and (hover: none) and (pointer: coarse) {
  //footer.scss
  .mainFooter .links a:hover {
    font-size: 16px;
}
}

@media(max-width: 750px) and (hover: none) and (pointer: coarse) {
    //mainNav.scss
    .left .logo:hover {
        font-size: 35px;
    }

    header.mainHeader a:hover {
        font-size: 30px;
    }
}

@media(max-width: 400px) and (hover: none) and (pointer: coarse) {
    //mainNav.scss
    .left .logo:hover {
        font-size: 30px;
    }
}