h1.recipeTitle {
    width: 90%;
    padding-top: 35px;
    color: #000;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 2px;
}

div.wholeRecipe {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 95%; 
    margin: 65px auto 0 auto;   
}

div.wholeRecipe h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 40px;
    border-bottom: 5px solid black;
}

div.wholeRecipe p {
    text-align: justify;
    font-size: 24px;
}

div.ImageAndIngredients {
    flex-basis: 53%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 0;
}

div.recipeImg {
    flex-basis: 75%;
    height: 400px;
    margin-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
}

div.recipeIngredients {
    flex-basis: 85%;
    min-width: 0;
    min-height: 300px;
    margin-bottom: 150px;
}

div.recipeIngredients p,
div.recipeSteps p {
    word-wrap: break-word;
}

div.recipeIcons {
    flex-basis: 25%;
    padding-left: 50px;
}

div.recipeIcons p {
    position: relative;
    top: 0;
    left: 0;
    font-size: 26px;
}

div.recipeIcons p i {
    font-size: 52px;
}

div.recipeIcons button:first-of-type,
div.modal-footer button:last-of-type {
    margin-right: 10px;
    padding: 0;
}

div.recipeIcons button {
    margin-bottom: 10px;
}

div.recipeIcons button a,
div.modal-footer button a {
    display: block;
    height: 100%;
    width: 100%;
    padding: .375rem .75rem;
    color: #fff;
    text-decoration: none;
}

div.recipeIcons span {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translateY(-50%);
}

div.recipeSteps {
    flex-basis: 45%;
    min-height: 300px;
    min-width: 0;
    padding-left: 100px;
}