header.recipesPage {
    background-image: url("../img/recipesHeaderx1920.jpg");
    width: 100%;
    overflow: hidden;
    height: 40vh;
    background-size: cover;
    filter: brightness(0.7);
}

.recipesHeader {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 21%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}


// More CSS to this website is in _homepage.scss
section.recipesList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 95%;
    margin: 10vh auto 40px auto;
}

.recipesList div {
    flex-basis: 23%;
    height: 280px;
    margin-bottom: 150px;
    background-size: cover;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: .3s;
}

