h1.recipeTitle {
    color: #000;
    text-align: center;
    padding-top: 35px;
    font-size: 48px;
}

div.wholeRecipe {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    max-width: 100%;
    padding: 0 50px;
    // background-color: gray;
}

div.ImageAndIngredients {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    margin-right: 60px;
}

div.recipeImg {
    // background-color: #000;
    height: 400px; //tu będzie max-height
    width: 100%;
    margin-bottom: 50px;
}

div.recipeIngredients {
    // background-color: yellow;
    height: 500px;
    width: 100%;
}

div.wholeRecipe h2 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
}

div.recipeIcons {
    width: 250px;
    height: 500px;
    // background-color: blue;
    margin-right: 50px;
}

div.recipeSteps {
    min-height: 300px;
    // background-color: red;
    flex-grow: 1;
}

// div.recipeSteps h2 {
//     text-align: center;
// }