* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;

// This is for footer stick to bottom of all pages, look footer.scss
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

div.wrap {
    margin-top: 65px;
}