{% load bootstrap4 %}
<!DOCTYPE html>
  <html lang="pl">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="Foody to aplikacja internetowa gromadząca ludzi, którzy uwielbiają jedzenie. Dzięki tej aplikacji ludzie mogą odkrywać nowe przepisy, zapisywać je do swojego elektronicznego zeszytu oraz dzielić się swoimi ulubionymi receptami na smaczne jedzenie.">
      <meta name="keywords" content="przepisy, jedzenie, kuchnia, gotowanie, smaczne, smacznie, zdrowe, pizza, ciasto, obiad, śniadanie, kolacja">
      <meta name="author" content="Piotr Jesionek">
      <title>Foody</title>
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'foddys/icons/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'foddys/css/style.css' %}">
    </head>

  <body>
    <nav class="mainNav">
      <div class="left">
        <a href="{% url 'foddys:index' %}" class='logo'>Foody</a>
        <div class="dropdown">
          <div class="dropdownContent blue">
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Polska' %}">Kuchnia polska</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Włoska' %}">Kuchnia włoska</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Amerykańska' %}">Kuchnia amerykańska</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Chińska' %}">Kuchnia chińska</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Tajska' %}">Kuchnia tajska</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Azjatycka' %}">Kuchnia azjatycka</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Indyjska' %}">Kuchnia indyjska</a>
            <a href="{% url 'foddys:recipes' typeOf='country' recipeType='Francuska' %}">Kuchnia francuska</a>
          </div>
          <span class="recipeBtn blue">Przepisy</span>
        </div>
        <div class="dropdown">
          <div class="dropdownContent violet">
            <a href="{% url 'foddys:recipes' typeOf='mealTime' recipeType='Śniadanie' %}">Śniadanie</a>
            <a href="{% url 'foddys:recipes' typeOf='mealTime' recipeType='Obiad' %}">Obiad</a>
            <a href="{% url 'foddys:recipes' typeOf='mealTime' recipeType='Kolacja' %}">Kolacja</a>
          </div>
          <span class="recipeBtn violet">Pora dnia</span>
        </div>
    </div>
    <div class="right">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <div class="dropdownContent logOut">
          <a href="{% url 'foddys:new_recipe' %}">Dodaj przepis</a>
          <a href="{% url 'foddys:recipes' typeOf='moje' recipeType='Moje' %}">Moje przepisy</a>
          <a href="{% url 'users:logout' %}">Wyloguj się</a>
        </div>
      <span class="recipeBtn logOut"><i class="flaticon-user-1"></i></span>
      </div>
      {% else %}
      <a href="{% url 'users:register' %}" class="signUp">Rejestracja</a>
      <a href="{% url 'users:login' %}" class="signIn">Logowanie</a>
      {% endif %}
    </div>
    </nav>
<main>
{% block content %}{% endblock content %}
</main>
  <footer class="mainFooter">
    <h2>skontaktuj się ze mną</h2>
    <section>
      <div class="contact">
        <p><i class="flaticon-gmail"></i>e-mail: piotrlbl40@gmail.com</p>
        <p><i class="flaticon-phone-call"></i>tel. +48 881 313 555</p>
      </div>
      <div class="links">
        <a href="https://www.linkedin.com/in/piotr-jesionek-29b4b2201" target="_blank"><i class="flaticon-linkedin"></i>Linkedin</a>
        <a href="https://github.com/Jesioon?tab=repositories" target="_blank"><i class="flaticon-github"></i>GitHub</a>
      </div>
    </section>
    <p>&copy; Copyright 2021 Piotr Jesionek</p>
  </footer>
  </body>
  <script id='buttonMeal' src="{% static 'foddys/js/main.js' %}"></script>
</html>