{% extends 'foddys/base.html' %}

{% block content %}
  <header class='mainHeader'>
    <h1>Pomysł na...</h1>
    <a href="#">Jedzenie</a>
  </header>
  <main>
    {% if recipes_recent %}
    <section>
      <h1>Ostatnio dodane</h1>
      <div class="recipes">
        {% for recipe in recipes_recent %}
        <div class="recipe" style='background-image: url({{recipe.image.url}});'></div>
        {% endfor %}
      </div>
    </section>
    {% endif %}
    <!-- <section class="ads">
      <div class="ad clearfix"></div>
      <div class="ad clearfix"></div>
    </section> -->

    {% if recipes_quick %}
    <section>
      <h1>Dania na szybko</h1>
      <div class="recipes">
        {% for recipe in recipes_quick %}
        <div class="recipe" style='background-image: url({{recipe.image.url}});'></div>
        {% endfor %}
      </div>
    </section>
    {% endif %}
  
    {% for mealTime, recipes in meals_context.items %}
      {% if recipes %}
        <section>
        <h1>{{mealTime}}</h1>
        <div class="recipes">
        {% for recipe in recipes %}
          <div class="recipe" style='background-image: url({{recipe.image.url}});'></div>
        {% endfor %}
        </div>
        </section>
      {% endif %}
    {% endfor %}

    {% for country, recipes in countries_context.items %}
      {% if recipes %}
        <section>
        <h1>Kuchnia {{country}}</h1>
        <div class="recipes">
          {% for recipe in recipes %}
            <div class="recipe" style='background-image: url({{recipe.image.url}});'></div>
          {% endfor %}
        </div>
        </section>
      {% endif %}

    {% endfor %}
  </main>
{% endblock content %}