{% extends 'foddys/base.html' %}

{% block content %}
  <header class='mainHeader'>
    <h1>Pomysł na...</h1>
    <a href="#">Jedzenie</a>
  </header>
  <main>
    <section>
      <h1>Ostatnio dodane</h1>
      <div class="recipes">
        <div class="recipe"></div>
        <div class="recipe"></div>
        <div class="recipe"></div>
      </div>
    </section>
    <section class="ads">
      <div class="ad clearfix"></div>
      <div class="ad clearfix"></div>
    </section>
    <section>
      <h1>Dania na szybko</h1>
      <div class="recipes">
        <div class="recipe"></div>
        <div class="recipe"></div>
        <div class="recipe"></div>
      </div>
    </section>
    <section>
      <h1>Na słodko</h1>
      <div class="recipes">
        <div class="recipe"></div>
        <div class="recipe"></div>
        <div class="recipe"></div>
      </div>
    </section> 
  </main>
{% endblock content %}