{% extends 'foddys/base.html' %}

{% block content %}
<div class="wrap">
<header class="recipesPage"></header>
<h1 class="recipesHeader">Moje przepisy</h1>


  <section class='recipesList'>
    {% for recipe in recipes %}
    <div class='recipeItem' style='background-image: url({{recipe.image.url}});'>
      <div class="darkHover">
        <a href="{% url 'foddys:recipe' recipe.id %}"><p>{{recipe.recipe_name}}</p></a>
      </div>
    </div>
    {% empty %}
    <h2>Nie dodano jeszcze żadnego przepisu</h2>
    {% endfor %}
  </section>

</div>
{% endblock content %}