{% extends 'foddys/base.html' %}

{% block content %}
<div class="wrap">
<h1 class='recipeTitle'>{{recipe.recipe_name.title}}</h1>

<div class="wholeRecipe">
    <div class="ImageAndIngredients">
        <div class='recipeImg' style='background-image: url({{recipe.image.url}});'></div>
        <div class="recipeIngredients"><h2>Składniki:</h2><p>{{recipe.ingredients|linebreaks}}</p></div>
    </div>
    <div class="recipeIcons">
        <p><i class="flaticon-time"></i><span>{{recipe.time_need}} min.</span></p>
        <p><i class="flaticon-user"></i><span>{{recipe.portions}} os.</span></p>
        <p><i class="flaticon-level"></i><span>{{recipeLevel}}</span></p>
        <p><i class="flaticon-like"></i><span>{{recipe.likes}}</span></p>
    </div>
    <div class="recipeSteps">
        <h2>Krok po kroku:</h2>
        <p>{{recipe.recipe|linebreaks}}</p>
    </div>
</div>

</div>
{% endblock content %}